.container{
background-color: grey;
border: 20px solid green;
height: 700px;
width: 700px;
}
h1{
  text-align: center;
}
#winner{

  margin-left: 500px
}
#console{

  margin-left: 420px
}
#title{
text-align: left;
margin-left: 290px;
}
#title2{
 text-align: right;
 margin-right: 260px;
 margin-top: -21px;
}

#cpuscore{
text-align: left;
}
#pscore{
text-align: left;

}
#pactual{
  text-align: left;
  margin-left: 35px;
}
#cactual{
  text-align: left;
  margin-left: 35px;
}
#money{
 text-align: left;

}
#cash{
  text-align: left;
  margin-left: 35px;
}
#cwon{
  text-align: left;
}
#winnings{
  text-align: left;
  margin-left: 35px;
}
#cpu{
float: left;
background-color: white;
text-align: center;
width: 100px;
height: 100px;
border: 1px solid black;
margin: 20px 20px 20px 280px;
}

#player{
text-align:  center;
background-color: #fafafa;
float: right;
width: 100px;
height: 100px;
border: 1px solid black;
margin: 20px 230px 20px 70px;
}

#button{
margin: -15px 20px 20px 585px;
background-color: black;
font-weight: bold;
color: white;
font-size: 12px;
}

#deal{
margin: 80px 20px 20px 430px;
background-color: black;
font-weight: bold;
color: white;
font-size: 12px;
}
